<a href="https://colab.research.google.com/github/roguetech/ML-NIDS/blob/master/Network_Instrusion_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Library Import

In [20]:
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.layers import Dense, Input, Dropout, LeakyReLU
from keras.models import Model, load_model
from tensorflow.keras import Sequential

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler

Import Dataset

In [2]:
training_set = pd.read_csv('https://raw.githubusercontent.com/roguetech/datasets/main/nsl-kdd/KDDTrain%2B.txt')
test_set = pd.read_csv('https://raw.githubusercontent.com/roguetech/datasets/main/nsl-kdd/KDDTest%2B.txt')

Format Data

In [3]:
columns = ['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
'num_access_files', 'num_outbound_cmds', 'is_host_login',
'is_guest_login', 'count', 'srv_count', 'serror_rate',
'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate',
'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count',
'dst_host_srv_count', 'dst_host_same_srv_rate', 'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
'dst_host_srv_rerror_rate', 'attack_type', 'difficulty_level']

training_set.columns = columns
test_set.columns = columns

In [4]:
training_set

        duration protocol_type  ... attack_type difficulty_level
0              0           udp  ...      normal               15
1              0           tcp  ...     neptune               19
2              0           tcp  ...      normal               21
3              0           tcp  ...      normal               21
4              0           tcp  ...     neptune               21
...          ...           ...  ...         ...              ...
125967         0           tcp  ...     neptune               20
125968         8           udp  ...      normal               21
125969         0           tcp  ...      normal               18
125970         0           tcp  ...     neptune               20
125971         0           tcp  ...      normal               21

[125972 rows x 43 columns]

Explorary Data Analysis

In [5]:
training_set.shape

(125972, 43)

In [6]:
attack_nepture = training_set.iloc[[1]]
#print(attack_nepture)

attack_nepture_columns = attack_nepture.select_dtypes(include='number').columns
attack_nepture = attack_nepture.select_dtypes(include='number')
#print(attack_nepture)

#attack_nepture = StandardScaler().fit_transform(attack_nepture)
#attack_nepture = pd.DataFrame(attack_nepture, columns=attack_nepture_columns)
#attack_nepture.values

In [7]:
test_set

       duration protocol_type  ... attack_type difficulty_level
0             0           tcp  ...     neptune               21
1             2           tcp  ...      normal               21
2             0          icmp  ...       saint               15
3             1           tcp  ...       mscan               11
4             0           tcp  ...      normal               21
...         ...           ...  ...         ...              ...
22538         0           tcp  ...      normal               21
22539         0           tcp  ...      normal               21
22540         0           tcp  ...        back               15
22541         0           udp  ...      normal               21
22542         0           tcp  ...       mscan               14

[22543 rows x 43 columns]

### **Encoding non numerical Labels**

In [8]:
training_set.protocol_type.unique()

array(['udp', 'tcp', 'icmp'], dtype=object)

In [9]:
training_set.service.unique()

array(['other', 'private', 'http', 'remote_job', 'ftp_data', 'name',
       'netbios_ns', 'eco_i', 'mtp', 'telnet', 'finger', 'domain_u',
       'supdup', 'uucp_path', 'Z39_50', 'smtp', 'csnet_ns', 'uucp',
       'netbios_dgm', 'urp_i', 'auth', 'domain', 'ftp', 'bgp', 'ldap',
       'ecr_i', 'gopher', 'vmnet', 'systat', 'http_443', 'efs', 'whois',
       'imap4', 'iso_tsap', 'echo', 'klogin', 'link', 'sunrpc', 'login',
       'kshell', 'sql_net', 'time', 'hostnames', 'exec', 'ntp_u',
       'discard', 'nntp', 'courier', 'ctf', 'ssh', 'daytime', 'shell',
       'netstat', 'pop_3', 'nnsp', 'IRC', 'pop_2', 'printer', 'tim_i',
       'pm_dump', 'red_i', 'netbios_ssn', 'rje', 'X11', 'urh_i',
       'http_8001', 'aol', 'http_2784', 'tftp_u', 'harvest'], dtype=object)

In [10]:
training_set.flag.unique()

array(['SF', 'S0', 'REJ', 'RSTR', 'SH', 'RSTO', 'S1', 'RSTOS0', 'S3',
       'S2', 'OTH'], dtype=object)

In [11]:
training_set.protocol_type.unique()

array(['udp', 'tcp', 'icmp'], dtype=object)

In [12]:
training_set.service.unique()

array(['other', 'private', 'http', 'remote_job', 'ftp_data', 'name',
       'netbios_ns', 'eco_i', 'mtp', 'telnet', 'finger', 'domain_u',
       'supdup', 'uucp_path', 'Z39_50', 'smtp', 'csnet_ns', 'uucp',
       'netbios_dgm', 'urp_i', 'auth', 'domain', 'ftp', 'bgp', 'ldap',
       'ecr_i', 'gopher', 'vmnet', 'systat', 'http_443', 'efs', 'whois',
       'imap4', 'iso_tsap', 'echo', 'klogin', 'link', 'sunrpc', 'login',
       'kshell', 'sql_net', 'time', 'hostnames', 'exec', 'ntp_u',
       'discard', 'nntp', 'courier', 'ctf', 'ssh', 'daytime', 'shell',
       'netstat', 'pop_3', 'nnsp', 'IRC', 'pop_2', 'printer', 'tim_i',
       'pm_dump', 'red_i', 'netbios_ssn', 'rje', 'X11', 'urh_i',
       'http_8001', 'aol', 'http_2784', 'tftp_u', 'harvest'], dtype=object)

In [13]:
training_set.flag.unique()

array(['SF', 'S0', 'REJ', 'RSTR', 'SH', 'RSTO', 'S1', 'RSTOS0', 'S3',
       'S2', 'OTH'], dtype=object)

## Data Normalization

In [14]:
binary_labels = pd.DataFrame(training_set.attack_type.map(lambda x:'normal' if x=='normal' else 'abnormal'))
binary_labels

       attack_type
0           normal
1         abnormal
2           normal
3           normal
4         abnormal
...            ...
125967    abnormal
125968      normal
125969      normal
125970    abnormal
125971      normal

[125972 rows x 1 columns]

In [15]:
binary_labels = pd.get_dummies(binary_labels)
binary_labels

        attack_type_abnormal  attack_type_normal
0                          0                   1
1                          1                   0
2                          0                   1
3                          0                   1
4                          1                   0
...                      ...                 ...
125967                     1                   0
125968                     0                   1
125969                     0                   1
125970                     1                   0
125971                     0                   1

[125972 rows x 2 columns]

Below, Numerical Features and Categorical Features were defined and then Numerical features were normalized between 0 and 1. The categorical features are split into individual features using get dummies and transformed to one hot encoding

In [ ]:
numeric_col = training_set.select_dtypes(include='number').columns

In [ ]:
training_set_num = training_set.select_dtypes(include='number')

In [ ]:
numeric_col

In [ ]:
numeric_features_columns = training_set.select_dtypes(include='number').columns
numeric_features = training_set.select_dtypes(include='number')
#print(numeric_features)

scalar = MinMaxScaler()
scalar.fit(numeric_features)
scaled = scalar.transform(numeric_features)
#numeric_features = StandardScaler().fit(numeric_features)
#numeric_features_scaled = numeric_features.transform(numeric_features)
#numeric_features = pd.DataFrame(numeric_features, columns=numeric_features_columns)
pd.set_option('display.max_columns', None)
#numeric_features
numeric_features = pd.DataFrame(scaled, columns=numeric_features_columns)
pd.DataFrame(scaled, columns=numeric_features_columns)

Variantal Autoencoding

Autoencoder Training

Result Analysis